/*------------------------------------------------------------------ GENERAL PROPERTIES ------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/*------------------------------------------------------------------ NAVBAR PROPERTIES ------------------------------------------------------*/

/*NAVBAR*/

.menu {
    height: 100px !important;
    width: 100% !important;
    background: radial-gradient(136.95% 136.95% at 50.65% -27.09%, rgba(255, 255, 255, 0) 0.83%, rgba(255, 255, 255, 7.89793e-09) 58.12%, rgba(255, 255, 255, 0.2) 100%), #000000;
    background-blend-mode: difference, normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-nav {
    margin-top: 25px;
    padding: 14px;
    float: right;
    /* margin-right: 20px; */
}

.social-networks {
    padding: 1px;
    padding-left: 30px;
    float: right;
    margin-right: 5px;
    padding-right: 35px;
}

.social-networks .item {
    color: #ffff;
    display: inline;
    margin: 5px;
}

.item {
    display: inline-block !important;
    /* line-height: 80px !important; */
    margin: 0 5px !important;
}

.nav_link {
    text-decoration: none !important;
    color: #ffff !important;
    font-size: 20px !important;
    padding: 7px 13px !important;
    border-radius: 3px !important;
    font-family: 'Roboto' !important;
    font-weight: 499 !important;
}

.item .nav_link:hover {
    color: #E2B853 !important;
    border-bottom: 2px solid #E2B853 !important;
}

.item .icon:hover {
    color: #E2B853 !important;
}

.icon {
    color: #fff;
    font-size: larger;
}

.contact-button {
    text-decoration: none;
    border-radius: 8px;
    background-color: #ffff;
    color: black;
    font-size: 20px;
    padding: 4px 9px;
    font-weight: bold;
    font-family: 'Roboto';
}

.contact-button:hover {
    background-color: #E2B853;
    border-radius: 8px;
    font-weight: bold;
    color: #000000;
}

/* .logo_enlace {
    padding-left: 100px;
} */

.logo_enlace .logo {
    height: 145px;
    width: 150px;
    top: -22px;
    position: absolute;
}


.logo_enlace .logo.top:hover {
    opacity: 0;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_close {
    display: var(--show, none);
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-galery {
    float: left;
    overflow: hidden;
}

.menu-galery .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover {
    background-color: red;
}

.dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 15px;
}

.menu-item {
    border-radius: 2px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 150ms ease;
}

.dropdown-content .menu-item:hover {
    background: #E2B853;
    color: #000000;
    transform: scale(1.2);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.show {
    display: block;
}


/*RESPONSIVE DESING NAVBAR*/

@media (max-width: 800px) {
    .nav_menu {
        display: block;
    }

    .navbar-nav--menu {
        position: fixed;
        background: radial-gradient(136.95% 136.95% at 50.65% -27.09%, rgba(255, 255, 255, 0) 0.83%, rgba(255, 255, 255, 7.89793e-09) 58.12%, rgba(255, 255, 255, 0.2) 100%), #000000;
        background-blend-mode: difference, normal;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .logo_enlace {
        padding-left: 50px;
    }


    .navbar-nav--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav_close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

}

/*----------------------------------------------------------------- HOME PAGE PROPERTIES --------------------------------------------------------*/

.btn {
    text-decoration: none;
    margin-top: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Roboto';
}

.btn_contact {
    padding-right: 20px;
}

/*MAIN AND ABOUT BANNER PROPIERTIES*/
.banner {
    height: 590px;
    width: 100%;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-image: url(../images/Banner-home.png);
    background-color: rgba(0, 0, 0, 0.40) !important;
    background-blend-mode: soft-light;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.home_image {
    display: block;
    align-content: center;
    position: absolute;
    width: 100%;
    height: 500px;
    top: 100px;
    z-index: -1;
}

.title-banner {
    color: #ffff;
    /* margin: 10px; */
    width: 650px;
    font-size: 40px;
    font-family: 'Arial Black';
    -webkit-text-stroke: 0.2px #000000;
    position: relative;
    top: -65px;
}

.subtitle-banner {
    display: flex !important;
    font-family: 'Roboto' !important;
    color: #ffff !important;
    margin: 10px !important;
    /* width: 500px !important; */
    margin-bottom: 20px !important;
    font-weight: bold !important;
    font-size: 22px !important;
    position: relative !important;
    -webkit-text-stroke: 0.5px #000000 !important;
    top: -60px !important;
}

.info-banner {
    padding-top: 60px;
    position: absolute !important;
    /* width: 600px; */
    height: 300px !important;
    /* left: 116px; */
    top: 350px !important;
}

.buttons {
    height: 40px !important;
    margin-top: 30px !important;
    top: 500px !important;
}

.button-banner {
    background: #FFFF !important;
    color: #000000 !important;
    ;
    font-family: 'Roboto' !important;
    ;
    font-weight: bold !important;
    ;
    font-size: 18px !important;
    ;
    position: relative !important;
    ;
    top: -80px !important;
    ;
}

.button-banner:hover {
    background: #E2B853 !important;
    color: #000000 !important;
    ;
}

.img_services {
    width: 30px !important;
    ;
    height: 27px !important;
    ;
    position: relative !important;
}

/*MAIN*/
.main {
    width: 100%;
    margin-bottom: 70px;
}

/*HOME AND ABOUT SECTION PROPERTIES*/
.about {
    position: relative;
    /* margin-top: 40px; */
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    /* background-size: 20px 20px; */
    padding: 10px;
    padding-top: 100px;
}

.about_image {
    width: 100%;
    display: block;
}

.about_container {
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
    /* gap: 2em; */
    /* display: grid; */
}

.about_picture {
    width: 625px;
    grid-row: 1/2;
    justify-self: center;
}

.subtitle {
    margin-top: 10px;
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
}

.about_paragrah {
    /*margin: 10px;*/
    padding: 10px;
    text-align: justify;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 450;
    align-items: center;
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 15px;
    margin-left: 20px;
}

.btn_galery {
    margin: 10px !important;
    padding: 10px !important;
    right: 50% !important;
    text-align: center !important;
}

.galery_btn {
    border-radius: 7px !important;
    color: #ffff !important;
    padding: 10px 25px !important;
    background: #000000 !important;
    color: white;
    font-weight: bold !important;
    width: 200px !important;
    font-size: 18px !important;
}

.galery_btn:hover {
    background: #E2B853 !important;
    font-weight: bold !important;
    color: #000000 !important;

}

/*SERVICES SECTION PROPERTIES*/

.services {
    position: relative;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    background-size: 20px 20px;
    padding-top: 20px;
    display: grid;
}

.services_container {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.service_header {
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*.col {
    position: relative !important;
    top: -130px !important;
}*/

.col-paragraph {
    width: 375px;
    justify-self: end;
    margin-right: 9px;
    font-family: 'Roboto';
}

.services_paragraph {
    font-size: 25px;
    font-weight: 499;
}


.subtitle {
    font-size: 1.5rem;
    margin-bottom: 25px;
    left: 130px;
    top: 2223px;
}

.title-color {
    color: #E2B853;
}

.service_main {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 455px 455px 455px;
    position: relative;
}

.service_icon {
    position: relative;
    margin-bottom: 5px;
}

.service_title {
    position: relative;
    margin-bottom: 20px;
    font-family: 'Roboto';
}

.service_paragraph {
    position: relative;
    margin-bottom: 30px;
    text-align: justify;
    font-family: 'Roboto';
}

.service_btn {
    color: #000000 !important;
    background-color: #E2B853 !important;
    text-align: center !important;
    margin: 0 !important;
    border: 0.4px solid black !important;
    font-weight: bold !important;
}

.service_btn:hover {
    color: #fff !important;
    background-color: #000000 !important;
    font-weight: bold !important;
}

.service_icons {
    padding: 20px;
}

/*GALERY SECTION PROPERTIES*/

.galery {
    background-color: #000000;
}

.galery_container {
    height: 1050px;
}

.portfolio_subtitle {
    position: relative;
    top: 30px;
    color: #FFF;
    font-size: 45px;
}

.galery_options {
    display: flex;
    justify-content: center;
    gap: 3em;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 65px;
    text-decoration: none;
}

.options {
    color: #FFF;
    text-decoration: none;
    background-color: #000000;
    font-weight: bold;
    border: #000;
}

.options:hover {
    color: #E2B853;
}

.contenedor-imagenes {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen {
    width: 506.4px;
    position: relative;
    top: 100px;
    height: 300px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.70);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2 {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay {
    height: 100%;
}

.overlay a {
    position: relative;
    top: 185px;
    left: 37%;
    background: rgba(144, 144, 144, 0.2);
    background-blend-mode: soft-light;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF !important;
    text-decoration: none;
    font-size: 18px;
    outline: 1px solid;
    outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.overlay a:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}

/*NEWSLETTER SECTION PROPERTIES*/
.newsletter {
    position: relative;
    margin-top: 30px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    background-size: 20px 20px;
    padding-top: 100px;
    height: 585px;
}

.newsletter_subtitle {
    font-weight: bold;
    font-size: 35px;
}

.newsletter_image {
    width: 92%;
    height: 410px !important;
    display: block;
    border-radius: 10px;
}

.newsletter_picture {
    width: 530px;
    grid-row: 1/2;
    height: 450;
    justify-self: center;
    margin-left: 30px;
}

.newsletter_submit {
    margin: auto;
    background-color: #000000 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

.newsletter_submit:hover {
    background-color: #E2B853 !important;
    color: #000000 !important;
    border-color: #E2B853 !important;
}

.form_subtitle {
    font-size: 20px;
}

.newsletter_paragrah {
    font-size: 20px;
}

.newsletter_form {
    margin-top: 15px;
    width: 650px;
    margin-right: -12px;
    height: 580px;
}

.news_form {
    margin-right: 50px !important;
}

.newsletter_input {
    background-color: #F3F3F3 !important;
}


/*HOME AND CONTACT CALL TO ACTION SECTION PROPERTIES*/
.cta {
    position: relative;
    margin-top: 30px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    background-size: 20px 20px;
    padding-top: 80px;
}

.cta_subtitle {
    font-size: 40px;
}

.cta_paragraph {
    font-size: 20px;
}


.cta_content {
    position: relative;
    top: -75px;
}

.cta_contact {
    background-color: #000000 !important;
    margin: 0;
    font-weight: bold !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-weight: bold !important;
    font-size: 20px !important;
}

.cta_contact:hover {
    background-color: #E2B853 !important;
    color: #000000 !important;
    font-weight: bold;
    border: #E2B853;
}

.cta_video {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.video_cta {
    margin-top: 50px;
    width: 600px;
    height: 465px;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}

.cta_subtitle {
    font-weight: bold;
    font-size: 40px;
}

.cta_paragraph {
    font-size: 20px;
    width: 480px;
    text-align: justify;
}


/*---------------------------------------------------------------- ABOUT PAGE PROPERTIES --------------------------------------------------------*/

/*ABOUT BANNER PROPIERTIES*/
.banner-about {
    position: relative;
    height: 700px;
    background-position: top;
    background-image: url(../images/Banner-about.png) !important;
}

/*ABOUT DESCRIPTION PROPERTIES*/

/*---------------------------------------------------------------- SERVICES PAGE PROPERTIES --------------------------------------------------------*/

/*SERVICES BANNER PROPERTIES*/
.banner-services {
    height: 440px;
    background-image: url(../images/Banner-services.png) !important;
}

.banner-services .info-banner {
    top: 220px !important;
}

/*SERVICES DESCRIPTION PROPERTIES*/
.figure-service {
    width: 100%;
}

.figure-service img {
    height: 600px;
    width: 100%;
}

.main-services {
    margin-bottom: 0;
}

.service {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 600px !important;
    padding-bottom: 0px !important;
    width: 100% !important;
    padding-right: 0 !important;
    margin-right: 0% !important;
}

.image-service {
    /* position: relative; */
    padding-bottom: 0 !important;
    top: -4;
}

/* .services-container {
    margin: 0 !important;
} */

.col-right {
    padding: 100px;
}

.col-left {
    padding: 100px;
}

/* .img-right {
    position: relative;
    float: right !important;
    padding-right: 0 !important;
    left: 10px;

} */

.button-service {
    margin-left: 0 !important;
    font-weight: bold !important;
    background: #000000 !important;
    color: #fff !important;
    padding: 10px 15px !important;
    font-size: 18px !important;
}

.button-service:hover {
    border: #E2B853 !important;
    background-color: #E2B853 !important;
    color: #000000 !important;
}

.title-service {
    font-weight: bold;
}

.paragraph-service {
    font-size: 20px;
    text-align: justify;
}

/*---------------------------------------------------------------- GALERY PAGE PROPERTIES --------------------------------------------------------*/

/*GALERY BANNER PROPERTIES*/
.galery-banner {
    height: 430px;
    width: 100%;
    padding: 1px;
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: url(../images/galery-banner.png);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid #000000;
}

/*GALERY DESCRIPTION PROPERTIES*/

.galery-header {
    text-align: center;
    position: relative;
    top: 50px;
}

.galery-title {
    font-family: 'Acme';
    text-transform: uppercase;
    font-weight: bold;
}

.galery-subtitle {
    position: relative;
    margin-top: 10px;
    font-family: 'Abhaya Libre';
}

.galery-description {
    position: relative;
    margin: 40px 0px;
    font-family: 'Abhaya Libre';
    text-align: justify;
    font-size: 22px;
}

.galery-section {
    background-color: #FFF;
}

.galery_content {
    height: 900px;
}

.container-img {
    position: relative;
    top: -100px;
}

/*GALERY - CUSTOMER BLOG PAGE CALL TO ACTION PROPERTIES*/

.cta-section {
    height: 270px;
}

.cta-content {
    flex-direction: row;
    justify-items: center;
    text-align: justify;
    position: relative;
    top: 75px;
}

.galery-cta-subtitle {
    font-weight: 500;
    font-size: 32px;
}

.galery-txt {
    font-weight: bold;
}

/*---------------------------------------------------------------- CUSTOMER BLOG PAGE PROPERTIES --------------------------------------------------------*/

/*BANNER - CUSTOMER BLOG DESCRIPTION PROPERTIES*/

/*CUSTOMER BLOG SLIDER PROPERTIES*/


/*---------------------------------------------------------------- CONTACT PAGE PROPERTIES --------------------------------------------------------*/

/*CONTACT BANNER PROPERTIES*/
.banner-contact {
    height: 440px;
    background-image: url(../images/Banner-contacto.png) !important;
}

.banner-contact .info-banner {
    top: 220px !important;
}

.subtitle-contact {
    margin-left: 0 !important;
    margin-bottom: 5px !important;
    -webkit-text-stroke: 0 #000000 !important;
}

/*CONTACT FORM PROPERTIES*/

.contact {
    position: relative;
    /* margin-top: 40px; */
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    /* background-size: 20px 20px; */
    padding: 10px;
    padding-top: 100px;
}

.contact-video {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.row-video {
    padding-top: 100px;
}

.video {
    width: 500px;
    height: 300px;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}

.contact-title{
    font-weight: bold;
}

.label-form{
    font-weight: bold !important;
}

.input-contact{
    background-color: #F3F3F3 !important;
}

.sent-btn{
    margin-left: 0 !important;
    font-weight: bold  !important;
}

.sent-btn:hover{
    background-color: #E2B853 !important;
    border-color: #E2B853 !important;
    color: #000000 !important;
}

.title-video{
    font-weight: bold;
}

.paragraph-form{
    font-size: 20px;
    text-align: justify;
    width: 400px;
}

.hours-bold{
    font-weight: bold;
}

.paragraph-video{
    width: 500px;
    text-align: justify;
    font-size: 20px;
}

.button-contact{
    margin-left: 0 !important;
    font-weight: bold !important;
}

.button-contact:hover{
    color: #000000 !important;
    background-color: #E2B853 !important;
    border-color: #E2B853 !important;

}

.row-form{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*---------------------------------------------------------------- LOGIN PAGE PROPERTIES --------------------------------------------------------*/



/*---------------------------------------------------------------- FOOTER PROPERTIES --------------------------------------------------------*/
.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #1A1919;
    padding: 30px;
    padding-top: 80px;
    bottom: 0;
    width: 100%;
    /* margin-top: 70px; */
}

.logo_footer {
    position: absolute;
    /* top: -20px; */
    width: 230px;
    height: 220px;
}

.logo_footer.top:hover {
    opacity: 0;
}

.col-brand .icon {
    font-size: 25px;
    margin-right: 8px;
}

.col-brand .icon:hover {
    color: #E2B853;
}

.social {
    position: relative;
    display: flex;
    height: 25px;
    gap: 15px;
    left: 30px;
    top: 11rem;
}

.suscribe-footer {
    background-color: #F3F3F3 !important;
    margin: auto !important;
    font-weight: bold !important;
}

.suscribe-footer:hover {
    background-color: #E2B853 !important;
}

.text-white {
    color: #fff;
}

.data-contact {
    font-weight: bold;
}

.btn-login {
    background-color: #F3F3F3 !important;
    font-weight: bold !important;
    margin: auto !important;
}

.btn-login:hover {
    background-color: #E2B853 !important;
}

.privacy-policies {
    margin-left: 100px;
    text-decoration: none;
}

.privacy-policies:hover {
    color: #E2B853 !important;
}

.policies {
    position: relative;
    left: 120px;
}

.conditions {
    margin-left: 0;
}

.copyright-policies {
    margin-top: 40px !important;
    justify-content: center;
}

.info-contact {
    position: relative;
    left: -75px;
}

.title-contact,
.title-newsletter {
    font-weight: bold;
}

/* FLOAT BUTTON*/
.float-button {
    position: fixed;
    width: 250px;
    height: 60px;
    bottom: 40px;
    right: 40px;
}

@keyframes palpito {
    from {
        transform: none;
    }

    75% {
        transform: scale(1.1);
    }

    to {
        transform: none;
    }
}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    animation: palpito .9s infinite;
}

.whatsapp:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.text {
    position: fixed;
    background-color: #25d366;
    color: #fff;
    right: 70px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
    width: 180px;
    height: 27px;
    box-shadow: 2px 2px 3px #999;
}

.whatsapp-icon {
    margin-top: 5px;
}



/*-------------------------------------------------------------------- THANK YOU MODAL PAGE ---------------------------------------------------------*/

.thank-you-modal-container {
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit {
    padding: 10px 60px;
    background: #fff;
    color: #000;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.thank-you-popup {
    width: 400px;
    background: #FFF;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    color: #333;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.thank-you-popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.thank-you-title {
    font-size: 38px;
    font-weight: bold;
    margin: 30px 0 10px;
}

.thank-you-paragraph {
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 18px;
}

.btn-ok {
    cursor: pointer;
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #4bcf1b;
    color: #FFF;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/*---------------------------------------------------------------- MOBILE VIEW - RESPONSIVE DESIGN ---------------------------------------------*/