/*------------------------------------------------------------------ GENERAL PROPERTIES ------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/*------------------------------------------------------------------ NAVBAR PROPERTIES ------------------------------------------------------*/

/*NAVBAR*/

.menu {
    height: 100px !important;
    width: 100% !important;
    background: radial-gradient(136.95% 136.95% at 50.65% -27.09%, rgba(255, 255, 255, 0) 0.83%, rgba(255, 255, 255, 7.89793e-09) 58.12%, rgba(255, 255, 255, 0.2) 100%), #000000;
    background-blend-mode: difference, normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-nav {
    margin-top: 25px;
    padding: 14px;
    float: right;
    /* margin-right: 20px; */
}

.social-networks {
    padding: 1px;
    padding-left: 30px;
    float: right;
    margin-right: 5px;
    padding-right: 35px;
}

.social-networks .item {
    color: #ffff;
    display: inline;
    margin: 5px;
}

.item {
    display: inline-block !important;
    /* line-height: 80px !important; */
    margin: 0 5px !important;
}

.nav_link {
    text-decoration: none !important;
    color: #ffff !important;
    font-size: 20px !important;
    padding: 7px 13px !important;
    border-radius: 3px !important;
    font-family: 'Roboto' !important;
    font-weight: 499 !important;
}

.item .nav_link:hover {
    color: #E2B853 !important;
    border-bottom: 2px solid #E2B853 !important;
}

.item .icon:hover {
    color: #E2B853 !important;
}

.icon {
    color: #fff;
    font-size: larger;
}

.contact-button {
    text-decoration: none;
    border-radius: 8px;
    background-color: #ffff;
    color: black;
    font-size: 20px;
    padding: 4px 9px;
    font-weight: bold;
    font-family: 'Roboto';
}

.contact-button:hover {
    background-color: #E2B853;
    border-radius: 8px;
    font-weight: bold;
    color: #000000;
}

/* .logo_enlace {
    padding-left: 100px;
} */

.logo {
    height: 145px;
    width: 150px;
    top: -22px;
    position: relative;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_close {
    display: var(--show, none);
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-galery {
    float: left;
    overflow: hidden;
}

.menu-galery .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover {
    background-color: red;
}

.dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 15px;
}

.menu-item {
    border-radius: 10px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    /* line-height: 20px !important; */
}

.dropdown-content .menu-item:hover {
    background-color: #E2B853;
    color: #000000;
}

.show {
    display: block;
}


/*RESPONSIVE DESING NAVBAR*/

@media (max-width: 800px) {
    .nav_menu {
        display: block;
    }

    .navbar-nav--menu {
        position: fixed;
        background: radial-gradient(136.95% 136.95% at 50.65% -27.09%, rgba(255, 255, 255, 0) 0.83%, rgba(255, 255, 255, 7.89793e-09) 58.12%, rgba(255, 255, 255, 0.2) 100%), #000000;
        background-blend-mode: difference, normal;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .logo_enlace {
        padding-left: 50px;
    }

    .navbar-nav--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav_close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

}

/*----------------------------------------------------------------- HOME PAGE PROPERTIES --------------------------------------------------------*/

.btn {
    text-decoration: none;
    margin-top: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Roboto';
}

.btn_contact {
    padding-right: 20px;
}

/*MAIN AND ABOUT BANNER PROPIERTIES*/
.banner {
    height: 590px;
    width: 100%;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-image: url(../images/Banner-home.png);
    background-color: rgba(0, 0, 0, 0.40) !important;
    background-blend-mode: soft-light;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.home_image {
    display: block;
    align-content: center;
    position: absolute;
    width: 100%;
    height: 500px;
    top: 100px;
    z-index: -1;
}

.title-banner {
    color: #ffff;
    /* margin: 10px; */
    width: 650px;
    font-size: 40px;
    font-family: 'Arial Black';
    -webkit-text-stroke: 0.2px #000000;
    position: relative;
    top: -65px;
}

.subtitle-banner {
    display: flex !important;
    font-family: 'Roboto' !important;
    color: #ffff !important;
    margin: 10px !important;
    /* width: 500px !important; */
    margin-bottom: 20px !important;
    font-weight: bold !important;
    font-size: 22px !important;
    position: relative !important;
    -webkit-text-stroke: 0.5px #000000 !important;
    top: -60px !important;
}

.info-banner {
    padding-top: 50px;
    position: absolute !important;
    /* width: 600px; */
    height: 300px !important;
    /* left: 116px; */
    top: 350px !important;
}

.buttons {
    height: 40px !important;
    margin-top: 30px !important;
    top: 500px !important;
}

.button-banner {
    background: #FFFF !important;
    color: #000000 !important;
    ;
    font-family: 'Roboto' !important;
    ;
    font-weight: bold !important;
    ;
    font-size: 18px !important;
    ;
    position: relative !important;
    ;
    top: -80px !important;
    ;
}

.button-banner:hover {
    background: #E2B853 !important;
    color: #000000 !important;
    ;
}

.img_services {
    width: 30px !important;
    ;
    height: 27px !important;
    ;
    position: relative !important;
}

/*MAIN*/
.main {
    width: 100%;
}

/*HOME AND ABOUT SECTION PROPERTIES*/
.about {
    position: relative;
    /* margin-top: 40px; */
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    /* background-size: 20px 20px; */
    padding: 10px;
    padding-top: 100px;
}

.about_image {
    width: 100%;
    display: block;
}

.about_container {
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
    /* gap: 2em; */
    /* display: grid; */
}

.about_picture {
    width: 625px;
    grid-row: 1/2;
    justify-self: center;
}

.subtitle {
    margin-top: 10px;
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
}

.about_paragrah {
    /*margin: 10px;*/
    padding: 10px;
    text-align: justify;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 450;
    align-items: center;
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 15px;
    margin-left: 20px;
}

.btn_galery {
    margin: 10px !important;
    padding: 10px !important;
    right: 50% !important;
    text-align: center !important;
}

.galery_btn {
    border-radius: 7px !important;
    color: #ffff !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    display: inline-block;
    width: 30%;
    padding: 20px;
    background: rgb(0, 0, 0) !important;
    text-align: center;
    color: white;
    font-weight: bold !important;
    transition: all 0.3s ease;
}

.galery_btn:hover {
    background: #E2B853 !important;
    font-weight: bold !important;
    color: #000000 !important;
}

/*SERVICES SECTION PROPERTIES*/

.services {
    position: relative;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    background-size: 20px 20px;
    padding-top: 20px;
    display: grid;
}

.services_container {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.service_header {
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*.col {
    position: relative !important;
    top: -130px !important;
}*/

.col-paragraph {
    width: 375px;
    justify-self: end;
    margin-right: 9px;
    font-family: 'Roboto';
}

.services_paragraph {
    font-size: 25px;
    font-weight: 499;
}


.subtitle {
    font-size: 1.5rem;
    margin-bottom: 25px;
    left: 130px;
    top: 2223px;
}

.title-color {
    color: #E2B853;
}

.service_main {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 455px 455px 455px;
    position: relative;
}

.service_icon {
    position: relative;
    margin-bottom: 5px;
}

.service_title {
    position: relative;
    margin-bottom: 20px;
    font-family: 'Roboto';
}

.service_paragraph {
    position: relative;
    margin-bottom: 30px;
    text-align: justify;
    font-family: 'Roboto';
}

.service_btn {
    color: #000000 !important;
    background-color: #E2B853 !important;
    text-align: center !important;
    margin: 0 !important;
    border: 0.4px solid black !important;
    font-weight: bold !important;
}

.service_btn:hover {
    color: #fff !important;
    background-color: #000000 !important;
    font-weight: bold !important;
}

.service_icons {
    padding: 20px;
}

/*GALERY SECTION PROPERTIES*/

.galery {
    background-color: #000000;
}

.galery_container {
    height: 1050px;
}

.portfolio_subtitle {
    position: relative;
    top: 30px;
    color: #FFF;
    font-size: 45px;
}

.galery_options {
    display: flex;
    justify-content: center;
    gap: 3em;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 65px;
    text-decoration: none;
}

.options {
    color: #FFF;
    text-decoration: none;
}

.options:hover {
    color: #E2B853;
    /* border-bottom: 2px solid #E2B853;
    border-bottom-style: double;*/
}

.galery_collage {
    display: grid;
    height: 900px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 img9";
    position: relative;
    top: 100px;
}

.galery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor_imagen_1 .capa {
    position: absolute;
    top: 0;
    width: 506.4px;
    height: 300px;
    background: rgba(0, 0, 0, 0.60);
    background-blend-mode: soft-light;
    transition: all 400ms ease-out;
    color: #FFF;
    opacity: 0;
    visibility: hidden;
}

.contenedor_imagen_1:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor_imagen_1:hover>.capa h4 {
    margin-top: 70px;
    margin-bottom: 15px;
    position: relative;
    top: 50px !important;
    left: 138px !important;
}

.contenedor_imagen_1:hover>.capa a {
    margin-top: 70px;
    margin-bottom: 15px;
    position: relative;
    top: 50px;
    left: 35%;
    background: rgba(144, 144, 144, 0.2);
    background-blend-mode: soft-light;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.contenedor_imagen_1:hover>.capa a:hover {
    background: rgba(0, 0, 0, 0.60);
    color: #FFF;
}

/*.btn_galery:hover {
    background: #E2B853;
    color: #000000;
}*/

/*.contenedor_imagen_1.capa h4 {
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}*/

/*.img_1:hover {
    filter: brightness(50%);
    transition: filter .5s;
    cursor: pointer;
}*/

.img_1 {
    grid-area: img1;
}

.img_2 {
    grid-area: img2;
}

.img_3 {
    grid-area: img3;
}

.img_4 {
    grid-area: img4;
}

.img_5 {
    grid-area: img5;
}

.img_6 {
    grid-area: img6;
}

.img_7 {
    grid-area: img7;
}

.img_8 {
    grid-area: img8;
}

.img_9 {
    grid-area: img9;
}

/*NEWSLETTER SECTION PROPERTIES*/
.newsletter {
    position: relative;
    margin-top: 30px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    background-size: 20px 20px;
    padding-top: 100px;
    height: 585px;
}

.newsletter_subtitle {
    font-weight: bold;
    font-size: 35px;
}

.newsletter_image {
    width: 92%;
    height: 410px !important;
    display: block;
    border-radius: 10px;
}

.newsletter_picture {
    width: 530px;
    grid-row: 1/2;
    height: 450;
    justify-self: center;
    margin-left: 30px;
}

.newsletter_submit {
    margin: auto;
    background-color: #000000 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

.newsletter_submit:hover {
    background-color: #E2B853 !important;
    color: #000000 !important;
    border-color: #E2B853 !important;
}

.form_subtitle {
    font-size: 20px;
}

.newsletter_paragrah {
    font-size: 20px;
}

.newsletter_form {
    margin-top: 15px;
    width: 650px;
    margin-right: -12px;
    height: 580px;
}

.news_form {
    margin-right: 50px !important;
}

.newsletter_input {
    background-color: #F3F3F3 !important;
}


/*HOME AND CONTACT CALL TO ACTION SECTION PROPERTIES*/
.cta {
    position: relative;
    margin-top: 30px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    background-size: 20px 20px;
    padding-top: 80px;
}

.cta_subtitle {
    font-size: 40px;
}

.cta_paragraph {
    font-size: 20px;
}


.cta_content {
    position: relative;
    top: -75px;
}

.cta_contact {
    background-color: #000000 !important;
    margin: 0;
    font-weight: bold !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-weight: bold !important;
    font-size: 20px !important;
}

.cta_contact:hover {
    background-color: #E2B853 !important;
    color: #000000 !important;
    font-weight: bold;
    border: #E2B853;
}

.cta_video {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.video_cta {
    margin-top: 50px;
    width: 600px;
    height: 465px;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}

.cta_subtitle {
    font-weight: bold;
    font-size: 40px;
}

.cta_paragraph {
    font-size: 20px;
    width: 480px;
    text-align: justify;
}


/*---------------------------------------------------------------- ABOUT PAGE PROPERTIES --------------------------------------------------------*/

/*ABOUT BANNER PROPIERTIES*/
.banner-about {
    position: relative;
    height: 700px;
    background-position: top;
    background-image: url(../images/Banner-about.png) !important;
}

/*ABOUT DESCRIPTION PROPERTIES*/

/*---------------------------------------------------------------- SERVICES PAGE PROPERTIES --------------------------------------------------------*/

/*SERVICES BANNER PROPERTIES*/
.banner-services {
    height: 440px;
    background-image: url(../images/Banner-services.png) !important;
}

.banner-services .info-banner {
    top: 220px !important;
}

/*SERVICES DESCRIPTION PROPERTIES*/
.figure-service {
    width: 760px;
}

.figure-service img {
    height: 600px;
    width: 100%;
}

.service {
    position: relative !important;
    height: 600px !important;
    padding-bottom: 0px !important;
    width: 100% !important;
}

.image-service {
    position: relative;
    padding-bottom: 0 !important;
    top: -4;
}

.services-container {
    margin: 0 !important;
}


/*---------------------------------------------------------------- GALERY PAGE PROPERTIES --------------------------------------------------------*/

/*GALERY BANNER PROPERTIES*/

/*GALERY DESCRIPTION PROPERTIES*/

/*GALERY PHOTOS - CUSTOMER BLOG PAGE PROPERTIES*/

/*GALERY - CUSTOMER BLOG PAGE CALL TO ACTION PROPERTIES*/

/*---------------------------------------------------------------- CUSTOMER BLOG PAGE PROPERTIES --------------------------------------------------------*/

/*BANNER - CUSTOMER BLOG DESCRIPTION PROPERTIES*/

/*CUSTOMER BLOG SLIDER PROPERTIES*/


/*---------------------------------------------------------------- CONTACT PAGE PROPERTIES --------------------------------------------------------*/

/*CONTACT BANNER PROPERTIES*/

/*CONTACT FORM PROPERTIES*/

/*---------------------------------------------------------------- LOGIN PAGE PROPERTIES --------------------------------------------------------*/



/*---------------------------------------------------------------- FOOTER PROPERTIES --------------------------------------------------------*/
.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #1A1919;
    padding: 30px;
    padding-top: 80px;
    bottom: 0;
    width: 100%;
    margin-top: 70px;
}

.logo_footer {
    position: relative;
    top: -20px;
    width: 230px;
    height: 220px;
}

.col-brand .icon {
    font-size: 25px;
    margin-right: 8px;
}

.col-brand .icon:hover {
    color: #E2B853;
}

.social {
    position: relative;
    display: flex;
    gap: 15px;
    left: 30px;
    top: -70px;
}

.suscribe-footer {
    background-color: #F3F3F3 !important;
    margin: auto !important;
    font-weight: bold !important;
}

.suscribe-footer:hover {
    background-color: #E2B853 !important;
}

.text-white {
    color: #fff;
}

.data-contact {
    font-weight: bold;
}

.btn-login {
    background-color: #F3F3F3 !important;
    font-weight: bold !important;
    margin: auto !important;
}

.btn-login:hover {
    background-color: #E2B853 !important;
}

.privacy-policies {
    margin-left: 100px;
    text-decoration: none;
}

.privacy-policies:hover {
    color: #E2B853 !important;
}

.policies {
    position: relative;
    left: 120px;
}

.copyright-policies {
    margin-top: 40px !important;
    justify-content: center;
}

.info-contact {
    position: relative;
    left: -75px;
}

.title-contact,
.title-newsletter {
    font-weight: bold;
}

/* FLOAT BUTTON*/
.float-button {
    position: fixed;
    width: 250px;
    height: 60px;
    bottom: 40px;
    right: 40px;
}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;

}

.whatsapp:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.text {
    position: fixed;
    background-color: #25d366;
    color: #fff;
    right: 105px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
    width: 180px;
    height: 27px;
    box-shadow: 2px 2px 3px #999;
}

.whatsapp-icon {
    margin-top: 5px;
}








/*---------------------------------------------------------------- MOBILE VIEW - RESPONSIVE DESIGN ---------------------------------------------*/