/*------------------------------------------------------------------ GENERAL PROPERTIES ------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/*------------------------------------------------------------------ NAVBAR PROPERTIES ------------------------------------------------------*/

/*NAVBAR*/

.menu {
    height: 100px !important;
    width: 100% !important;
    background: radial-gradient(136.95% 136.95% at 50.65% -27.09%, rgba(255, 255, 255, 0) 0.83%, rgba(255, 255, 255, 7.89793e-09) 58.12%, rgba(255, 255, 255, 0.2) 100%), #000000;
    background-blend-mode: difference, normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-nav {
    padding: 14px;
    float: right;
    /* margin-right: 20px; */
}

.social-networks {
    padding: 1px;
    padding-left: 30px;
    float: right;
    margin-right: 5px;
    padding-right: 35px;
}

.social-networks .item {
    color: #ffff;
    display: inline;
    margin: 5px;
}

.item {
    display: inline-block !important;
    line-height: 80px !important;
    margin: 0 5px !important;
}

.nav_link {
    text-decoration: none !important;
    color: #ffff !important;
    font-size: 20px !important;
    padding: 7px 13px !important;
    border-radius: 3px !important;
    font-family: 'Roboto' !important;
    font-weight: 499 !important;
}

.item .nav_link:hover {
    color: #E2B853 !important;
    border-bottom: 2px solid #E2B853 !important;
}

.item .icon:hover {
    color: #E2B853 !important;
}

.icon {
    color: #fff;
    font-size: larger;
}

.contact-button {
    text-decoration: none;
    border-radius: 8px;
    background-color: #ffff;
    color: black;
    font-size: 20px;
    padding: 4px 9px;
    font-weight: bold;
    font-family: 'Roboto';
}

.contact-button:hover {
    background-color: #E2B853;
    border-radius: 8px;
    font-weight: bold;
    color: #000000;
}

/* .logo_enlace {
    padding-left: 100px;
} */

.logo {
    height: 145px;
    width: 150px;
    top: -22px;
    position: relative;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_close {
    display: var(--show, none);
}


/*RESPONSIVE DESING NAVBAR*/

@media (max-width: 800px) {
    .nav_menu {
        display: block;
    }

    .navbar-nav--menu {
        position: fixed;
        background: radial-gradient(136.95% 136.95% at 50.65% -27.09%, rgba(255, 255, 255, 0) 0.83%, rgba(255, 255, 255, 7.89793e-09) 58.12%, rgba(255, 255, 255, 0.2) 100%), #000000;
        background-blend-mode: difference, normal;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .logo_enlace {
        padding-left: 50px;
    }

    .navbar-nav--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav_close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

}

/*----------------------------------------------------------------- HOME PAGE PROPERTIES --------------------------------------------------------*/

.btn {
    text-decoration: none;
    margin-top: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Roboto';
}

.btn_contact {
    padding-right: 20px;
}

/*MAIN AND ABOUT BANNER PROPIERTIES*/
.banner {
    height: 590px;
    width: 100%;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-image: url(../images/Banner-home.png);
    background-color: rgba(0, 0, 0, 0.40) !important;
    background-blend-mode: soft-light;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.home_image {
    display: block;
    align-content: center;
    position: absolute;
    width: 100%;
    height: 500px;
    top: 100px;
    z-index: -1;
}

.title-banner {
    color: #ffff;
    /* margin: 10px; */
    width: 650px;
    font-size: 40px;
    font-family: 'Arial Black';
    -webkit-text-stroke: 0.2px #000000;
    position: relative;
    top: -65px;
}

.subtitle-banner {
    display: flex !important;
    font-family: 'Roboto' !important;
    color: #ffff !important;
    margin: 10px !important;
    /* width: 500px !important; */
    margin-bottom: 20px !important;
    font-weight: bold !important;
    font-size: 22px !important;
    position: relative !important;
    -webkit-text-stroke: 0.5px #000000 !important;
    top: -60px !important;
}

.info-banner {
    padding-top: 50px;
    position: absolute !important;
    /* width: 600px; */
    height: 300px !important;
    /* left: 116px; */
    top: 350px !important;
}

.buttons {
    height: 40px !important;
    margin-top: 30px !important;
    top: 500px !important;
}

.button-banner {
    background: #FFFF !important;
    color: #000000 !important;
    ;
    font-family: 'Roboto' !important;
    ;
    font-weight: bold !important;
    ;
    font-size: 18px !important;
    ;
    position: relative !important;
    ;
    top: -80px !important;
    ;
}

.button-banner:hover {
    background: #E2B853 !important;
    color: #000000 !important;
    ;
}

.img_services {
    width: 30px !important;
    ;
    height: 27px !important;
    ;
    position: relative !important;
}

/*MAIN*/
.main {
    position: fixed;
    position: absolute;
    width: 100%;
}

/*HOME AND ABOUT SECTION PROPERTIES*/
.about {
    position: relative;
    /* margin-top: 40px; */
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    /* background-size: 20px 20px; */
    padding: 10px;
    padding-top: 100px;
}

.about_image {
    width: 100%;
    display: block;
}

.about_container {
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
    /* gap: 2em; */
    /* display: grid; */
}

.about_picture {
    width: 625px;
    grid-row: 1/2;
    justify-self: center;
}

.subtitle {
    margin-top: 10px;
    text-align: center;
}

.about_paragrah {
    /*margin: 10px;*/
    padding: 10px;
    text-align: justify;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 450;
    align-items: center;
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 15px;
}

.galery_btn {
    background: #000000 !important;
    border-radius: 7px !important;
    color: #ffff !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.btn_galery {
    margin: 10px !important;
    padding: 10px !important;
    right: 50% !important;
    text-align: center !important;
}

.galery_btn:hover {
    background: #E2B853 !important;
    font-weight: bold !important;
    color: #000000 !important;
}

/*SERVICES SECTION PROPERTIES*/

.services {
    position: relative;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    background-size: 20px 20px;
    padding-top: 20px;
    display: grid;
}

.services_container {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.service_header {
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* .col {
    width: 425px;
    margin-left: 50px;
    font-family: 'Roboto';
} */

.col-paragraph {
    width: 375px;
    justify-self: end;
    margin-right: 9px;
    font-family: 'Roboto';
}

.services_paragraph {
    font-size: 25px;
    font-weight: 499;
}


.subtitle {
    font-size: 1.5rem;
    margin-bottom: 25px;
    left: 130px;
    top: 2223px;
}

.title-color {
    color: #E2B853;
}

.service_main {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 455px 455px 455px;
    position: relative;
}

.service_icon {
    position: relative;
    margin-bottom: 5px;
}

.service_title {
    position: relative;
    margin-bottom: 20px;
    font-family: 'Roboto';
}

.service_paragraph {
    position: relative;
    margin-bottom: 30px;
    text-align: justify;
    font-family: 'Roboto';
}

.service_btn {
    color: #000000 !important;
    background-color: #E2B853 !important;
    text-align: center !important;
    margin: 0 !important;
    border: 0.4px solid black !important;
    font-weight: bold !important;
}

.service_btn:hover {
    color: #fff !important;
    background-color: #000000 !important;
    font-weight: bold !important;
}

.service_icons {
    padding: 20px;
}

/*GALERY SECTION PROPERTIES*/
.galery {
    position: relative;
    margin-top: 30px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    background-size: 20px 20px;
}

/*NEWSLETTER SECTION PROPERTIES*/
.newsletter {
    position: relative;
    margin-top: 30px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    background-size: 20px 20px;
}

.newsletter_subtitle {
    font-weight: bold;
}

.newsletter_image {
    width: 600px;
    height: 500px;
    display: block;
}

.newsletter_picture {
    display: flex;
}

.newsletter_submit {
    margin: auto;
    background-color: #000000 !important;
}

.newsletter_submit:hover {
    background-color: #E2B853 !important;
    color: #000000 !important;
    border-color: #E2B853 !important;
    font-weight: bold;
}

.form_subtitle {
    font-size: 20px;
}

.newsletter_paragrah {
    font-size: 20px;
}

.newsletter_form {
    margin: 10px;
    margin-right: 20px;
}



/*HOME AND CONTACT CALL TO ACTION SECTION PROPERTIES*/
.cta {
    position: relative;
    margin-top: 30px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    background-size: 20px 20px;
}

.cta_contact {
    background-color: #000000 !important;
    margin: 0;
    font-weight: bold !important;
}

.cta_contact:hover {
    background-color: #E2B853 !important;
    color: #000000 !important;
    font-weight: bold;
}


/*---------------------------------------------------------------- ABOUT PAGE PROPERTIES --------------------------------------------------------*/

/*ABOUT BANNER PROPIERTIES*/

/*ABOUT DESCRIPTION PROPERTIES*/

/*---------------------------------------------------------------- SERVICES PAGE PROPERTIES --------------------------------------------------------*/

/*SERVICES BANNER PROPERTIES*/

/*SERVICES DESCRIPTION PROPERTIES*/

/*---------------------------------------------------------------- GALERY PAGE PROPERTIES --------------------------------------------------------*/

/*GALERY BANNER PROPERTIES*/

/*GALERY DESCRIPTION PROPERTIES*/

/*GALERY PHOTOS - CUSTOMER BLOG PAGE PROPERTIES*/

/*GALERY - CUSTOMER BLOG PAGE CALL TO ACTION PROPERTIES*/

/*---------------------------------------------------------------- CUSTOMER BLOG PAGE PROPERTIES --------------------------------------------------------*/

/*BANNER - CUSTOMER BLOG DESCRIPTION PROPERTIES*/

/*CUSTOMER BLOG SLIDER PROPERTIES*/


/*---------------------------------------------------------------- CONTACT PAGE PROPERTIES --------------------------------------------------------*/

/*CONTACT BANNER PROPERTIES*/

/*CONTACT FORM PROPERTIES*/

/*---------------------------------------------------------------- LOGIN PAGE PROPERTIES --------------------------------------------------------*/



/*---------------------------------------------------------------- FOOTER PROPERTIES --------------------------------------------------------*/



/*---------------------------------------------------------------- MOBILE VIEW - RESPONSIVE DESIGN ---------------------------------------------*/